body
{
    padding-top: 70px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox
{
    margin-bottom: 10px;
}

.form-signin .checkbox
{
    font-weight: normal;
}

.form-signin .form-control
{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

    .form-signin .form-control:focus
    {
        z-index: 2;
    }

.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.cajita
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid;
    background-color: white;
    /*border-radius: 25px;*/
}

/*.fondo
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../images/brazuca.jpg");
    background-repeat: no-repeat;
    background-position: center;    
    background-color: #fff;
    width: 100%;
    height: 100%;
}*/