<div class="container">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Crear Usuario</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nombre">Nombre</label>
                <div class="col-md-5">
                    <input id="nombre" ng-model="usuario.nombre" name="nombre" type="text" placeholder="Nombre" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="usuario">Usuario</label>
                <div class="col-md-5">
                    <input id="usuario" ng-model="usuario.usuario" name="usuario" type="text" placeholder="Usuario" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="contrasena">Contrase&ntilde;a</label>
                <div class="col-md-5">
                    <input id="contrasena" ng-model="usuario.contrasena" name="contrasena" type="password" placeholder="Contrase&ntilde;a" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="perfil">Perfil</label>
                <div class="col-md-5">
                    <select id="perfil" name="perfil" ng-model="perfil" ng-options="obj.descripcion for obj in profiles" class="form-control">
                        <option></option>                        
                    </select>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="crear"></label>
                <div class="col-md-8">
                    <a id="crear" ng-click="Crear(usuario.nombre, usuario.usuario, usuario.contrasena, perfil)" name="crear" class="btn btn-success">Crear</a>
                    <a id="cancel" ng-click="Borrar()" name="cancel" class="btn btn-default">Cancelar</a>
                </div>
            </div>

        </fieldset>
    </form>
</div>
