<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="" class="navbar-brand">{{mensaje}}</a>
        </div>

    </div>
</nav>


<div class="container">
    <div class="accordion">

        <!-- Grupo A -->
        <div class="accordion-group">

            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-primary btn-block" data-toggle="collapse" data-parent="#accordion2" href="#GrupoA">
                    <b>Grupo A </b>
                </button>
            </div>

            <div id="GrupoA" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">

                    <table class="table table-bordered table-hover" style="height: auto">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <!--<a class="btn btn-success btn-small" href= "#/fgrupos"> </a> -->
                                </th>
                                <th class="text-center">Local
                                </th>
                                <th class="text-center">Visitante
                                </th>
                                <th class="text-center">Fecha
                                </th>
                            </tr>

                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="obj in grupoA" class="success">
                                <th>
                                    <a data-toggle="modal" ng-show="obj.status" data-target="#myModal" ng-click="IngresarMarcador(obj)">
                                        <img src="Client/app/images/edit1.jpg" alt="editar" height="30" width="35" /></a>
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgLocal}}" alt="{{obj.equipoLocal}}" height="30" width="35" />
                                    {{obj.equipoLocal}}
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgVisitante}}" alt="{{obj.equipoVisitante}}" height="30" width="35" />
                                    {{obj.equipoVisitante}}
                                </th>

                                <th>{{obj.fecha | date:'yyyy-MM-dd hh:mm:ss a'}}</th>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>

            <!-- 2 Item -->


            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-primary btn-block" data-toggle="collapse" data-parent="#accordion2" href="#GrupoB">
                    <b>Grupo B </b>
                </button>
            </div>
            <div id="GrupoB" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">

                    <table class="table table-bordered table-hover" style="height: auto">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <!--<a class="btn btn-success btn-small" href= "#/fgrupos"> </a> -->
                                </th>
                                <th class="text-center">Local
                                </th>
                                <th class="text-center">Visitante
                                </th>
                                <th class="text-center">Fecha
                                </th>
                            </tr>

                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="obj in grupoB" class="success">
                                <th>
                                    <a data-toggle="modal" ng-show="obj.status" data-target="#myModal" ng-click="IngresarMarcador(obj)">
                                        <img src="Client/app/images/edit1.jpg" alt="editar" height="30" width="35" /></a>
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgLocal}}" alt="{{obj.equipoLocal}}" height="30" width="35" />
                                    {{obj.equipoLocal}}
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgVisitante}}" alt="{{obj.equipoVisitante}}" height="30" width="35" />
                                    {{obj.equipoVisitante}}
                                </th>
                                <th>{{obj.fecha | date:'yyyy-MM-dd hh:mm:ss a'}}</th>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>


            <!-- 3 Item -->


            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-primary btn-block" data-toggle="collapse" data-parent="#accordion2" href="#GrupoC">
                    <b>Grupo C </b>
                </button>
            </div>

            <div id="GrupoC" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">

                    <table class="table table-bordered table-hover" style="height: auto">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <!--<a class="btn btn-success btn-small" href= "#/fgrupos"> </a> -->
                                </th>
                                <th class="text-center">Local
                                </th>
                                <th class="text-center">Visitante
                                </th>
                                <th class="text-center">Fecha
                                </th>
                            </tr>

                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="obj in grupoC" class="success">
                                <th>
                                    <a data-toggle="modal" ng-show="obj.status" data-target="#myModal" ng-click="IngresarMarcador(obj)">
                                        <img src="Client/app/images/edit1.jpg" alt="editar" height="30" width="35" /></a>
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgLocal}}" alt="{{obj.equipoLocal}}" height="30" width="35" />
                                    {{obj.equipoLocal}}
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgVisitante}}" alt="{{obj.equipoVisitante}}" height="30" width="35" />
                                    {{obj.equipoVisitante}}
                                </th>
                                <th>{{obj.fecha | date:'yyyy-MM-dd hh:mm:ss a'}}</th>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>


            <!-- 4 Item -->
            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-primary btn-block" data-toggle="collapse" data-parent="#accordion2" href="#GrupoD">
                    <b>Grupo D </b>
                </button>
            </div>

            <div id="GrupoD" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">

                    <table class="table table-bordered table-hover" style="height: auto">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <!--<a class="btn btn-success btn-small" href= "#/fgrupos"> </a> -->
                                </th>
                                <th class="text-center">Local
                                </th>
                                <th class="text-center">Visitante
                                </th>
                                <th class="text-center">Fecha
                                </th>
                            </tr>

                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="obj in grupoD" class="success">
                                <th>
                                    <a data-toggle="modal" ng-show="obj.status" data-target="#myModal" ng-click="IngresarMarcador(obj)">
                                        <img src="Client/app/images/edit1.jpg" alt="editar" height="30" width="35" /></a>
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgLocal}}" alt="{{obj.equipoLocal}}" height="30" width="35" />
                                    {{obj.equipoLocal}}
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgVisitante}}" alt="{{obj.equipoVisitante}}" height="30" width="35" />
                                    {{obj.equipoVisitante}}
                                </th>
                                <th>{{obj.fecha | date:'yyyy-MM-dd hh:mm:ss a'}}</th>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>

            <!-- 5 Item -->
            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-primary btn-block" data-toggle="collapse" data-parent="#accordion2" href="#GrupoE">
                    <b>Grupo E </b>
                </button>
            </div>

            <div id="GrupoE" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">

                    <table class="table table-bordered table-hover" style="height: auto">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <!--<a class="btn btn-success btn-small" href= "#/fgrupos"> </a> -->
                                </th>
                                <th class="text-center">Local
                                </th>
                                <th class="text-center">Visitante
                                </th>
                                <th class="text-center">Fecha
                                </th>
                            </tr>

                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="obj in grupoE" class="success">
                                <th>
                                    <a data-toggle="modal" ng-show="obj.status" data-target="#myModal" ng-click="IngresarMarcador(obj)">
                                        <img src="Client/app/images/edit1.jpg" alt="editar" height="30" width="35" /></a>
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgLocal}}" alt="{{obj.equipoLocal}}" height="30" width="35" />
                                    {{obj.equipoLocal}}
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgVisitante}}" alt="{{obj.equipoVisitante}}" height="30" width="35" />
                                    {{obj.equipoVisitante}}
                                </th>
                                <th>{{obj.fecha | date:'yyyy-MM-dd hh:mm:ss a'}}</th>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>


            <!-- 6 Item -->
            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-primary btn-block" data-toggle="collapse" data-parent="#accordion2" href="#GrupoF">
                    <b>Grupo F </b>
                </button>
            </div>

            <div id="GrupoF" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">

                    <table class="table table-bordered table-hover" style="height: auto">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <!--<a class="btn btn-success btn-small" href= "#/fgrupos"> </a> -->
                                </th>
                                <th class="text-center">Local
                                </th>
                                <th class="text-center">Visitante
                                </th>
                                <th class="text-center">Fecha
                                </th>
                            </tr>

                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="obj in grupoF" class="success">
                                <th>
                                    <a data-toggle="modal" ng-show="obj.status" data-target="#myModal" ng-click="IngresarMarcador(obj)">
                                        <img src="Client/app/images/edit1.jpg" alt="editar" height="30" width="35" /></a>
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgLocal}}" alt="{{obj.equipoLocal}}" height="30" width="35" />
                                    {{obj.equipoLocal}}
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgVisitante}}" alt="{{obj.equipoVisitante}}" height="30" width="35" />
                                    {{obj.equipoVisitante}}
                                </th>
                                <th>{{obj.fecha | date:'yyyy-MM-dd hh:mm:ss a'}}</th>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>


            <!-- 7 Item -->
            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-primary btn-block" data-toggle="collapse" data-parent="#accordion2" href="#GrupoG">
                    <b>Grupo G </b>
                </button>
            </div>

            <div id="GrupoG" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">

                    <table class="table table-bordered table-hover" style="height: auto">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <!--<a class="btn btn-success btn-small" href= "#/fgrupos"> </a> -->
                                </th>
                                <th class="text-center">Local
                                </th>
                                <th class="text-center">Visitante
                                </th>
                                <th class="text-center">Fecha
                                </th>
                            </tr>

                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="obj in grupoG" class="success">
                                <th>
                                    <a data-toggle="modal" ng-show="obj.status" data-target="#myModal" ng-click="IngresarMarcador(obj)">
                                        <img src="Client/app/images/edit1.jpg" alt="editar" height="30" width="35" /></a>
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgLocal}}" alt="{{obj.equipoLocal}}" height="30" width="35" />
                                    {{obj.equipoLocal}}
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgVisitante}}" alt="{{obj.equipoVisitante}}" height="30" width="35" />
                                    {{obj.equipoVisitante}}
                                </th>
                                <th>{{obj.fecha | date:'yyyy-MM-dd hh:mm:ss a'}}</th>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>


            <!-- 8 Item -->
            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-primary btn-block" data-toggle="collapse" data-parent="#accordion2" href="#GrupoH">
                    <b>Grupo H </b>
                </button>
            </div>

            <div id="GrupoH" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">

                    <table class="table table-bordered table-hover" style="height: auto">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <!--<a class="btn btn-success btn-small" href= "#/fgrupos"> </a> -->
                                </th>
                                <th class="text-center">Local
                                </th>
                                <th class="text-center">Visitante
                                </th>
                                <th class="text-center">Fecha
                                </th>
                            </tr>

                        </thead>
                        <tbody align="center">
                            <tr ng-repeat="obj in grupoH" class="success">
                                <th>
                                    <a data-toggle="modal" ng-show="obj.status" data-target="#myModal" ng-click="IngresarMarcador(obj)">
                                        <img src="Client/app/images/edit1.jpg" alt="editar" height="30" width="35" /></a>
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgLocal}}" alt="{{obj.equipoLocal}}" height="30" width="35" />
                                    {{obj.equipoLocal}}
                                </th>
                                <th>
                                    <img ng-src="{{obj.imgVisitante}}" alt="{{obj.equipoVisitante}}" height="30" width="35" />
                                    {{obj.equipoVisitante}}
                                </th>
                                <th>{{obj.fecha | date:'yyyy-MM-dd hh:mm:ss a'}}</th>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>


        </div>
        <!-- END Accordion -->

        </br>
  <a href="#/" class="btn btn-primary btn-lg active" role="button">Volver</a>

    </div>
    <!-- END Container -->




    <!-- Modal Ingresar Marcadores-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Resgistrar Marcador</h4>
                </div>
                <form name="form" class="css-form" novalidate>
                    <div class="modal-body" ng-repeat="obj in ejemplo">
                        <table class="table table-bordered table-hover" style="height: auto">
                            <thead>
                                <tr>
                                    <th class="text-center">Local
                                    </th>
                                    <th class="text-center">Visitante
                                    </th>
                                </tr>

                            </thead>
                            <tbody align="center">
                                <tr class="success">
                                    <th>
                                        <img ng-src="{{obj.imgLocal}}" alt="{{obj.equipoLocal}}" height="30" width="35" />
                                        {{obj.equipoLocal}}
                                    </th>
                                    <th>
                                        <img ng-src="{{obj.imgVisitante}}" alt="{{obj.equipoVisitante}}" height="30" width="35" />
                                        {{obj.equipoVisitante}}
                                    </th>
                                </tr>
                                <tr class="success">
                                    <th>
                                        <input type="number" class="form-control" ng-model="local" name="local" min="0" max="10" placeholder="{{obj.equipoLocal}}" integer required />
                                    </th> 
                                    <th>
                                        <input type="number" class="form-control" ng-model="visit" name="visit" min="0" max="10" placeholder="{{obj.equipoLocal}}" integer required />
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-default" data-dismiss="modal">Cerrar</a>
                            <a type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-hide="form.local.$error.integer || form.visit.$error.min || form.visit.$error.max" ng-click="IngresarResultado(obj)">Guardar Resultado</a>
                            <div class="alert alert-danger" ng-show="form.local.$error.integer">Debe Ingresar un n&uacute;mero v&aacute;ildo</div>
                            <div class="alert alert-danger" ng-show="form.visit.$error.integer">Debe Ingresar un n&uacute;mero v&aacute;ildo</div>

                            <div class="alert alert-warning" ng-show="form.local.$error.min || form.local.$error.max">Debe ingresar un n&uacute;mero entre 0 y 10 </div>
                            <div class="alert alert-warning" ng-show="form.visit.$error.min || form.visit.$error.max">Debe ingresar un n&uacute;mero entre 0 y 10 </div>
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
