<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="" class="navbar-brand">Bienvenido: {{nombre.nombre}}</a>
        </div>

    </div>
</nav>
<div class="container text-center">
    <!--<div>
        <b>Faltan:..</b>
    </div>-->
    <div class="text-center">
        <h1>
            <timer end-time="1402599600000">{{days}} : {{hours}} : {{minutes}} : {{seconds}} </timer>
        </h1>
    </div>
     <div class="text-center">
        <h4>
            D&iacute;as-Horas-Minutos-segundos
        </h4>
    </div>
</div>

</br>
</br>
</br>

<div class="container">
    <div class="accordion">

        <!-- 1 Item -->
        <div class="accordion-group">

            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-success btn-block" data-toggle="collapse" data-parent="#accordion2" href="#Calendario">
                    <b>Calendario </b>
                </button>
            </div>

            <div id="Calendario" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a class="btn btn-default btn-block" href="#/fgrupos">Fase De Grupos </a>
                        </li>
                        <!--<li>
                            <a class="btn btn-default btn-block" disabled="disabled" href="#/">Octavos de Final </a>
                        </li>
                        <li>
                            <a class="btn btn-default btn-block" disabled="disabled" href="#/">Cuartos de Final </a>
                        </li>
                        <li>
                            <a class="btn btn-default btn-block" disabled="disabled" href="#/">SemiFinal </a>
                        </li>
                        <li>
                            <a class="btn btn-default btn-block" disabled="disabled" href="#/">Final </a>
                        </li>-->
                    </ul>
                </div>
            </div>

            <!-- 2 Item -->
            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-success btn-block" data-toggle="collapse" data-parent="#accordion2" href="#RankingB">
                    <b>Ranking Participantes</b>
                </button>
            </div>


            <div id="RankingB" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a class="btn btn-default btn-block" href="#/ranking"><b>Tabla General </b></a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- 3 Item -->
            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-success btn-block" data-toggle="collapse" data-parent="#accordion2" href="#Mis_Resultados">
                    <b>Mis Resultados </b>
                </button>
            </div>

            <!-- 4 Item -->
            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-success btn-block" data-toggle="collapse" data-parent="#accordion2" href="#Equipos">
                    <b>Equipos </b>
                </button>
            </div>

            <div id="Equipos" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <button class="btn btn-default btn-block" href="#/">Tabla de Posiciones </button>
                        </li>
                        <li>
                            <button class="btn btn-default btn-block" href="#/">Historial Equipo </button>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- 5 Item -->
            <div class="accordion-heading ">
                <button class="accordion-toggle btn btn-success btn-block" data-toggle="collapse" data-parent="#accordion2" href="#administracion">
                    <b>Administraci&oacute;n </b>
                </button>
            </div>

            <div id="administracion" class="accordion-body collapse">
                <div class="accordion-inner fondos_menu">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a class="btn btn-default btn-block" href="#/createUser">Crear Usuario </a>
                        </li>
                        <li>
                            <a class="btn btn-default btn-block" href="#/ranking">Ingresar Resultados </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- END Accordion -->



    </div>
    <!-- END Container -->
