<div class ="container" activity-indicator="processing" indicator-type="large">

    <div class="alert alert-info text-center">Usuarios Que han ingresado Alg&uacute;n marcador </div>

	<table class="table table-bordered table-hover" style="height: auto">
    	<thead>
	      	<tr>
		        <th >
		        	Nombre
		        </th>		        
		        <th >
		        	Puntaje
		        </th>				        
	      	</tr>
   			
    	</thead>
   		<tbody align="center">		      		
      		<tr ng-repeat = "obj in usuarios" class="success">
		        <th >
		        	{{obj.nombre}}
		        </th>		        
		        <th >
					{{obj.puntaje}}
		        </th>				        
	      	</tr>
    	</tbody>
	</table>

	<a href="#/" class="btn btn-danger btn-lg active" role="button">Volver</a>


</div>