﻿<html>

<head>

    <title>**/Mundial Brasil 2014\** </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="Client/app/css/site.css" />
    <link rel="stylesheet" type="text/css" href="Client/app/lib/bootstrap/css/bootstrap.css" />


    <!-- JS -->
    <script src="Client/app/lib/Js/jquery-1.10.2.js"></script>
    <script src="Client/app/lib/Js/jquery.activity-indicator-1.0.0.min.js"></script>
    <script src="Client/app/lib/bootstrap/js/bootstrap.js"></script>


    <!-- ANGULAR -->
    <script src="Client/app/lib/AngularJs/angular.js"></script>
    <script src="Client/app/lib/AngularJs/angular-resource.js"></script>
    <script src="Client/app/lib/AngularJs/angular-ui.min.js"></script>
    <script src="Client/app/lib/angularJS/http-auth-interceptor.js"></script>
    <script src="Client/app/lib/angularJS/angular-http-auth.js"></script>
    <script src="Client/app/lib/AngularJs/timer.js"></script>

    <script src="Client/app/app.js"></script>


    <!-- CONTROLLERS -->
    <script src="Client/app/controllers/homeCtrl.js"></script>
    <script src="Client/app/controllers/fgruposCtrl.js"></script>
    <script src="Client/app/controllers/rankingCtrl.js"></script>
    <script src="Client/app/controllers/createUserCtrl.js"></script>
    <script src="Client/app/controllers/loginCtrl.js"></script>


    <!-- SERVICES -->
    <script src="Client/app/services/teamsInfo.js"></script>
    <script src="Client/app/services/InsertUser.js"></script>
    <script src="Client/app/services/profilesInfo.js"></script>
    <script src="Client/app/services/userInfo.js"></script>
    <script src="Client/app/services/InsertScore.js"></script>
    <script src="Client/app/services/userInfoHome.js"></script>
    <script src="Client/app/services/getRanking.js"></script>

    <!-- DIRECTIVES -->
    <script src="Client/app/directives/activityIndicator.js"></script>
    <script src="Client/app/directives/loginForm.js"></script>
    <script src="Client/app/directives/integer.js"></script>


</head>
<body ng-app="MundialApp" id="body" login-form>

    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="" class="navbar-brand">Escribir Algo</a>
            </div>

        </div>
    </nav>-->
    <!--<div class="fondo">-->
        <div id="login-holder">
            <div class="container" ng-controller="loginCtrl">
                <div class="cajita">
                    <div class="text-center">
                        <img src="Client/app/images/mundial_logo.jpg" />
                    </div>
                    <form class="form-signin" ng-submit="submit()" role="form">
                        <h2 class="form-signin-heading text-center">Iniciar Sesi&oacute;n</h2>
                        <input type="text" class="form-control" placeholder="Usuario" ng-model="credentials.username" required autofocus>
                        <input type="password" class="form-control" placeholder="Contrase&ntilde;a" ng-model="credentials.password" required>
                        <br />
                        <input
                            type="submit"
                            value="Entrar"
                            class="btn btn-lg btn-success btn-block submit-login">
                    </form>
                </div>
            </div>
            <!-- /container -->
        </div>
        <!-- /login-holder -->
    <!--</div>-->

    <div id="content">
        <div ng-view id="ng-view"></div>
    </div>

    <!-- </div>-->

</body>

</html>
